.login-page{
    width: 380px;
    padding: 10% 0 0;
    margin: auto;
}

.register{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 380px;
    margin: 0 auto 100px;
    padding: 50px;
    text-align: center;
}

.login-form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #dbdbdb;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 30px;
}

.register-form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #dbdbdb;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 30px;
}

.register-form .register-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #013697;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
}

.login-form .login-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #013697;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;

}

.login-form .login-button:hover,.login-form .login-button:active{
    background: #063180;
}
.register-form .register-button:hover,.register-form .register-button:active{
    background: #063180;
}

.register .message{
    margin: 15px 0 0;
    color: rgb(47, 51, 54);
    font-size: 23px;
}

.register .message a{
    color: #4CAF50;
    text-decoration: none;
}

